.screenshot {
    width: 25rem;
    vertical-align: auto;
    height: 15rem;
    border-radius: 4px;
}

.cardBody {
    padding-bottom: 5px;
    padding-top: 5px;
    border: solid 2px #66FCF1;
    border-radius: 4px;
    margin: 15px;
    background-color: #1F2833;
}

.projectTitle {
    color: #66FCF1;
    margin-bottom: 0;
}

.projectDescription {
    color: #C5C6C7;
    width: 25rem;
    display: inline-block;
}


.projectBtn {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #66FCF1;
    color: #1F2833;
    border-radius: 4px;
}
