.screenshot {
    width: 25rem;
    vertical-align: auto;
    border: solid red 2px;
    height: 15rem;
}

.cardBody {
    padding-bottom: 5px;
    padding-top: 5px;
    border: black;
    border-style: solid;
    margin: 15px
}

.btn {
    margin-left: 25px;
    margin-right: 25px
}
