.img-container {
    width: 30vw;
    height: 20vw;
    margin: 10px;
}

.portfolioImg {
    width: 30vw;
    height: 20vw;
    margin: 10px;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: #272727;
}

.socialIcon {
    padding: 10px
}

body {
    background-color: #272727;
}


.docsWrapper {
    background-color: #272727;
}

.certificate {
    padding-top: 25px;
    width: 70%;
    max-width: 600px;
    height: 300px;
    padding-bottom: 25px;
}

.resume {
    width: 90%;
    max-width: 800px;
    height: 450px;
    padding-bottom: 25px;
}
